@font-face { 
    font-family: 'ny';
    src: url('https://cdn.rawgit.com/pm047/super-site/blob/master/GreatVictorian-Standard.otf') format('opentype');
    font-weight: 100;
    font-style: normal; 
    }
